server:
  port: ${PORT:5000}

base-url: /api

rollbar-token: ${ROLLBAR_TOKEN}

spring:
  application:
    name: taskManager

  profiles:
    active: ${APP_ENV:dev}

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  jpa:
    hibernate:
      ddl-auto: none

springdoc:
  swagger-ui:
    path: /swagger.html
